# What happens with print() command

In [2]:
print("Hello World!")

Hello World!

**Variables** <br> 
Used to store some values and used to operate.

In [3]:
message = 'Hello World!'
print(message)

Hello World!

**Rules For Variable Names** -:  <br> 

1) Variables name can only contains letters, numbers and underscores. <br>

2) Variable name should start with letter and underscores only. <br>
   <code> message_1 </code> is correct, but <code> 1_message </code> is incorrect. <br>
   
3) Don't use python built in keywords as variable name. <br>
   example <code> list</code>**,** <code>for </code>
   <br>
   
4) Variable names should be descriptive.

# Exercise_1 -: Try It Yourself!

**Q1 -: Store the message in a variable and then print it.**

In [30]:
message = "Welcome to Python Learning"
print(message)

Welcome to Python Learning

**Q2 -: Store the message in a variable and prints it.** <br> 
**After this change the value of this variable and printit again**

In [31]:
message = "Welcome to Python Learning"
print(message)

Welcome to Python Learning

In [32]:
message = "Hello World!"
print(message)

Hello World!

# Strings

A series of character is called a string. <br>

Anything written inside <code>' '</code> **,** <code>" "</code> is a string.

In [9]:
name = 'Ritik Sharma'

In [11]:
len(name)   # len ---> length

12

In [12]:
# Indexing 
name[2]

't'

In [15]:
# Indexing
name[6]

'S'

In [16]:
# Slicing
name[1:7]

'itik S'

In [17]:
name[:9]

'Ritik Sha'

In [33]:
# Step Slicing
name[1:9:2]

'ii h'

# Changing Case in Strings

**.title() method** <br>

Changes case of the first element of every word after space in string.

In [34]:
name = 'python'

In [35]:
name.title()

'Python'

In [36]:
name_1 = 'python is great!'

In [37]:
name_1.title()

'Python Is Great!'

In [38]:
name_2 = 'hello world!'

In [39]:
name_2.title()

'Hello World!'

In [55]:
# Let's design a function which returns titled output.
def myfunc(name=input()):
    return name.title()

output = myfunc()
output

my car

'My Car'

**.upper() method** -: <br> 

It changes the case of every element in the string to uppercase.

In [45]:
name.upper()

'PYTHON'

In [46]:
name_1.upper()

'PYTHON IS GREAT!'

In [47]:
name_2.upper()

'HELLO WORLD!'

In [56]:
# A function to return the uppercase output
def func(name=input()):
    return name.upper()

output = func()
output

java

'JAVA'

**.lower() method** -: <br> 

It return the lowercase output of given input string.

In [57]:
name.lower()

'python'

In [58]:
name_1.lower()

'python is great!'

In [59]:
name_2.lower()

'hello world!'

In [63]:
# A function to return lowercase output

def lowercase(input_name=input()):
    return input_name.lower()

output = lowercase()
output

PYGame

'pygame'

# Concatenate Strings

Used to combine strings

In [64]:
'Hello '+'World'

'Hello World'

In [2]:
var_1 = 'python'
var_2 = 'is'
var_3 = 'very'
var_4 = 'fast'

In [3]:
var_1 + ' '+ var_2 + ' ' + var_3 + ' '+ var_4

'python is very fast'

In [12]:
# use of \t to add tab space
print('hello\tworld')

hello	world

In [13]:
#use of \n world
print('hello\nworld')

hello
world

Here we added whitespace to make it readable but we can also remove whitespace by several methods. <br>

It is called **stripping of whitespace** i.e. <code>remove extra whitespace in strings.</code>



<table class="table table-bordered">
<tr>
<th style="width:10%">Method</th><th style="width:45%">Description</th>
</tr>
<tr>
<td>.strip()</td>
<td>Remove whitespace from both sides</td>
</tr>
<tr>
<td>.lstrip()</td>
<td>Removes whitespace from left of string.</td>
</tr>
<tr>
<td>.rstrip()</td>
<td>Removes whitespace from right of string. </td>
</tr>
<tr>
</table>

In [1]:
mystring = ' Hello world!'

In [2]:
mystring.lstrip()

'Hello world!'

Now, there was an extra whitespace at left in mystring so, <code>lstrip()</code> does it.

In [3]:
string = 'Hello world! '

In [4]:
string.rstrip()

'Hello world!'

Here <code>rstrip()</code> removes whitespace from right.

In [5]:
new_string = ' Hello world! '

In [6]:
new_string.strip()

'Hello world!'

Here, <code>strip</code> removes extra whitespace from right and left.

In [7]:
# A function which removes extra whitespace

def strip(name = input()):
    return name.strip()

output = strip()
output

 myworld!

'myworld!'

# Avoiding Errors in case of strings

In [8]:
message = 'One of Python's strengths is its diverse community.'

SyntaxError: invalid syntax (<ipython-input-8-2fdef2bfd92c>, line 1)

Now when we use **apostophe** python takes it as end of string. So, when we wantto use <code>apostophe</code> in code then use double quoted strings.

In [11]:
msg = "One of Python's strengths is its diverse community."
msg

"One of Python's strengths is its diverse community."

**Concatenation Errors** <br>

If we want to concatenate string with numbers then an error generally occurs.

In [1]:
statement = 'Ritik is '
age = 20
new_line =' years old'

In [2]:
output = statement + age + new_line

TypeError: can only concatenate str (not "int") to str

In such case we can use string function <code>**str()**</code>

In [3]:
output = statement + str(age) + new_line

In [4]:
output

'Ritik is 20 years old'

# Exercise 2 -: Try it Youself!

**Solution Q1**

In [12]:
name = 'Ritik'

In [15]:
output ='Hello ' + name + ', ' + 'would you like to learn some Python today?'
output

'Hello Ritik, would you like to learn some Python today?'

**Solution Q2**

In [16]:
name.upper()

'RITIK'

In [17]:
name.lower()

'ritik'

In [18]:
name.title()

'Ritik'

**Solution Q3**

In [21]:
output = 'Albert Einstein once said, ' + '"A person who never do a mistake never tried anything new"'

In [22]:
output

'Albert Einstein once said, "A person who never do a mistake never tried anything new"'

**Solution Q4**

In [23]:
legend = 'Albert Einstein'

In [25]:
message = legend + ' once said, '+ '"A person who never do a mistake never tried anything new"'

In [26]:
message

'Albert Einstein once said, "A person who never do a mistake never tried anything new"'

**Solution Q5**

In [47]:
person = 'Harry \t'

In [48]:
print(person)

Harry

In [50]:
person.strip()

'Harry'

# Exercise 3 : Try it Yourself !

**Solution Q2**

In [5]:
favourite_number = 9

In [8]:
output = str(9) + ' is my favourite number'

In [9]:
output

'9 is my favourite number'

# Built - in method of strings

1) **.capitalize() method**

In [10]:
my_string = 'python is great'

In [12]:
my_string.capitalize()

'Python is great'

In [13]:
my_string.title()

'Python Is Great'

See, the difference b/w .title() and .capitalize() i.e. <code>.capitalize() only uppercases the first letter and .title() capitalize first element of every word  </code>

2) **.split() method** <br>

It splits the elements of string w.r.t whitespace

In [14]:
my_string.split()

['python', 'is', 'great']

We can also split w.r.t any particular letter.

In [17]:
my_string.split('h')

['pyt', 'on is great']

See it separates the elements left/right w.r.t h